.button {
  width: 100%;
  padding: 15px;
  border-radius: var(--border-r);
  border: none;
  margin: 8px 0;
  font-weight: 600;
  line-height: normal;
  font-size: 18px;
  cursor: pointer;
  transition: var(--transition);
}

.simple,
.switch {
  color: var(--black);
  background-color: var(--green);
}

.simple:hover,
.switch:hover {
  background-color: var(--green-light);
}

.simple:focus,
.switch:focus {
  outline: var(--green-dark) 2px solid;
}

.google {
  color: var(--white);
  background-color: var(--red);
}

.google:hover {
  background-color: var(--red-light);
}

.google:focus {
  outline: var(--red-dark) 2px solid;
}

.meta {
  color: var(--white);
  background-color: var(--meta-blue);
}

.meta:hover {
  background-color: var(--meta-blue-light);
}

.meta:focus {
  outline: var(--meta-blue-dark) 2px solid;
}

.switch {
  margin-top: 35px;
  width: 70%;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
