.main {
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  display: flex;
  flex-flow: row wrap;
}

.homeImg {
  width: 45vw;
  height: 100vh;
}

.rightPanelWrapper {
  width: 55vw;
  height: 100vh;
  background-color: var(--blue);
}

.section {
  height: 100vh;
  width: 60%;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.logoImg {
  width: 280px;
}

.title {
  font-size: 56px;
  margin: 20px 0;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
